* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
background:#4c4c4c;
color: black;
}

.page {
width: 100%;
min-height: 100vh;
background: white;
}

/* NAVBAR */

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 36px 48px;
background: white;
}

.logo {
font-size: 24px;
font-weight: 700;
}

.navbar nav {
display: flex;
gap: 24px;
}

.navbar nav a {
text-decoration: none;
color: black;
font-size: 18px;
}

/*PUBLIS*/

.publis {
width: 100%;
background: #e8b7c4;
padding: 80px 48px 100px 48px;
}

.publis-header {
display: flex;
justify-content: space-between;
align-items: flew-end;
gap: 40px;
margin-bottom: 60px;
}

.publis-intro {
max-width: 420px;
}

.publis h2 {
font-size: 88px;
line-height: 0.95;
font-weight: 800;
margin-bottom: 20px;
}

.publis p {
font-size: 28px;
line-height: 1.2;
}

.btn-outline {
padding:14px 24px;
border-radius: 999px;
border: 1.5px solid black;
background: transparent;
cursor: pointer;
font-size: 16px;
}

/*GRILLE DES CHRONIQUES*/

.chroniques-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 32px;
}

.chronique-card img {
width: 100%;
aspect-ratio: 4 / 3;
object-fit: cover;
display: block;
margin-bottom: 16px;
}

.chronique-card h3 {
font-size: 30px;
margin-bottom: 10px;
font-weight: 700;
}

.chronique-card a {
text-decoration: none;
color: black;
font-size: 18px;
}

/*ABOUT*/

.about {
width: 100%;
background: white;
display: grid;
grid-template-columns: 1fr 1.4fr;
gap: 60px;
padding: 90px 48px;
align-items: start;
}

.about-left h2 {
font-size: 88px;
line-height: 0.95;
font-weight: 800;
color: #e8b7c4
}

.about-right p {
font-size: 32px;
line-height: 1.25;
max-width: 760px;
}

/*FOOTER*/

footer {
	padding: 28px 48px 40px 48px;
	background: white;
}

footer p {
color: grey;
font-size: 16px;
}

/*TABLETTE*/

@media (max-width: 1024px) {
	.publis h2,
	.about-left h2 {
		font-size: 68px;
	}
	
	.publis p {
		font-size: 24px;
	}
	
	.about-right p {
		font-size: 26px;
	}
	
	.chronique-card h3 {
		font-size: 24px;
	}
}

/*MOBILE*/

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		gap: 18px;
		padding: 24px;
	}
	
	.navbar nav {
		flex-wrap: wrap;
		gap: 16px;
	}
	
	.publis {
		padding: 60px 24px 70px 24px;
	}
	
	.publis-header {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 40px;
	}
	
	.publis h2 {
		font-size: 56px;
	}
	
	.publis p {
		font-size: 22px;
	}
	
	.chroniques-grid {
		grid-template-columns: 1fr;
		gap: 28px;
	}
	
	.about {
		grid-template-columns: 1fr;
		gap: 30px;
		padding: 60px 24px;
	
	.about-left h2 {
		font-size: 56px;
	}
	
	.about-right p {
		font-size: 22px;
	}
	
	footer {
		padding: 24px;
	}
}